./__pycache__/main.cpython-311.pyc
./config/__pycache__/firebase.cpython-311.pyc
./config/firebase.py
./modal/__pycache__/todo.cpython-311.pyc
./routes/__pycache__/todo.cpython-311.pyc
./schema/__pycache__/todo.cpython-311.pyc
./auth/fastapi.json
